<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petersarazin.booksservicespringbootmybatismysql.mapper.BookAuthorMapper">

    <select id="findBookAuthorsByBook" parameterType="int" resultMap="com.petersarazin.booksservicespringbootmybatismysql.mapper.BookAuthorMapper.BookAuthorResult">
        select * from book_author where book_id=#{book_id}
    </select>

    <resultMap id="BookAuthorResult" type="com.petersarazin.booksservicespringbootmybatismysql.domain.BookAuthor">
        <id property="bookId" column="book_id"/>
        <association property="person" column="person_id" javaType="com.petersarazin.booksservicespringbootmybatismysql.domain.Person"
                     select="com.petersarazin.booksservicespringbootmybatismysql.mapper.PersonMapper.getPerson" />
    </resultMap>
</mapper>