<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petersarazin.booksservicespringbootmybatismysql.mapper.BookTitleMapper">
    <select id="getBookTitle" parameterType="int" resultType="com.petersarazin.booksservicespringbootmybatismysql.domain.BookTitle">
        select * from book_title where book_title_id=#{bookTitleId}
    </select>
</mapper>