<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.petersarazin.booksservicespringbootmybatismysql.mapper.PublisherMapper">
    <select id="getPublisher" parameterType="int" resultType="com.petersarazin.booksservicespringbootmybatismysql.domain.Publisher">
        select * from publisher where publisher_id=#{publisherId}
    </select>
</mapper>